ul {
	list-style-type: none;
	font-size: 22px;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	color: #3D58A6;
	padding-left: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
.thumbnail {
	width: 1170px;
	height: 460px;
}
.fl {
	padding-right: 15px;
}
img {
	padding-top: 20px;
}
.vertical-line{
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 10px;
    height: 25px;
    color: red;
    padding-right: 13px;
}
.active {
	color: #EE4036;
}
